<h1>Images in the Database</h1>
<% @images.each do |i| %> <!-- Iterates through each user under the variable u -->
  <%= image_tag(i.link) %> <!-- Show the users name-->
  <!-- Show the users email -->
<% end %>