body {
	background-color: #f6f6f6;
	position: relative;
}
@font-face {
    font-family: 'Unicorn';
    src: url(UNICORN.TTF);
}

#title_section h1 {
	font-family: 'Unicorn';
	color: #9512b0;
	text-align: center;
	font-size: 75px;
}

#title_section {
	height: 110px;
	top: 0px;
	width: 100%;
	position: fixed;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 5px;
	z-index: 10000;
	background-color: #e5e5e5

	
}


.image{
	width: 100%;
	object-fit: cover;
	padding: 5px;
}

.image:hover{
	padding: 0px;
	border-style: solid;
	border-width: 5px;
	border-color: #df21f6;
}

#main_image{

	max-width: 750px;
	max-height: 600px;

	border-style: solid;
	border-width: 5px;
	border-color: #ed85ef;
	
	position:fixed;
   /*element can move on the screen (only screen, not page)*/

   left:50%;top:50%;
   /*set the top left corner of the element on the center of the screen*/

   transform:translate(-50%,-50%);}
   /*reposition element center with screen center*/

  z-index:10000;
    
}
